:root{
--color-primary:#34C94B;
--color-black:#121212;
--color-white:#FFFFFF
}
*::after{
box-sizing: border-box;
}
*::before{
  box-sizing: border-box; 
}
html,body{


  height: 100%;
}
*{margin: 0;}

body{
  background-color: var(--color-black);
  font-family: "Poppins",sans-serif;
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: var(--color-primary) !important;
}
 .swiper-slide{
    width: auto !important;
  } 
  .MuiAccordion-root{
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    border: solid 1px white;
    border-radius:0px 0px 10px 10px;
    width: 62vw !important;
    margin-top: 12px;
  }
  .MuiAccordionSummary-expandIconWrapper{
    color: var(--color-primary) !important;
  }
  .MuiAccordionDetails-root{
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
  }
