.wrapper{

margin: auto;
width: 1353px;


}
.text{

    display: flex;
    justify-content: space-between;
   margin-bottom: 18px;
font-size: 20px;
font-weight: 600;
line-height: normal;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
gap: 35px;


}
.items{
    
}
.text p:first-child {
    color: var(--color-white);
}
.text p:last-child {
    color: var(--color-primary);
    cursor: pointer;
}
.buttons{
position: absolute;
top:50%;
z-index: 2;
width: 100%;
display: flex;
justify-content: space-between;

}