.mainWrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 75vw;
 padding:20px;


}
.songWrapper{
display: flex;
justify-content: center;

align-items: center;
align-self:flex-start;

}
.progressWrapper {
 
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self:center;
    width: 50vw;
   

}
.progressWrapper >img{
    margin-bottom: 5px;
}

